{% extends "layout.html" %}

{% block pageTitle %}
  Provide debt details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


<form class="form" action=/existing-business-debt-type-radio-answer method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Provide debt details
      </h1>

      <p>Provide details about what you owe {{ data['search-results-radios'] }}
      </p>


        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="cost">
              Amount you owe
            </label>
            <div id="event-name-hint" class="govuk-hint">
          For joint debts, enter the full debt amount
        </div>
          </h1>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-10" id="debt-owed-business" name="debt-owed-business" type="text" spellcheck="false">
          </div>
        </div>

        <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="event-name">
        Account or reference number
      </label>
    </h1>
    <div id="event-name-hint" class="govuk-hint">
      You can find this on correspondence from {{ data['search-results-radios'] }}. Leave blank if you don't have one.
    </div>
    <input class="govuk-input govuk-input--width-20" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
  </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                What type of debt is it?
              </h1>
            </legend>

              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-debt-business-existing" name="type-of-debt-business-existing" type="radio" value="Credit or store card">
                  <label class="govuk-label govuk-radios__label" for="Credit-or-store-card">
                    Credit card or store card
                  </label>
                </div>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="type-of-debt-business-existing" name="type-of-debt-business-existing" type="radio" value="Personal loan (unsecured)">
                    <label class="govuk-label govuk-radios__label" for="Personal loan (unsecured)">
                      Personal loan (unsecured)
                    </label>
                  </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="type-of-debt-business-existing" name="type-of-debt-business-existing" type="radio" value="Overdraft">
                <label class="govuk-label govuk-radios__label" for="Overdraft">
                  Overdraft
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="type-of-debt-business-existing" name="type-of-debt-business-existing" type="radio" value="text" data-aria-controls="Other">
                <label class="govuk-label govuk-radios__label" for="Other">
                  Other
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="Other">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-text">
                    Please specify
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel" autocomplete="tel">
                </div>

          </fieldset>
        </div>


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="existing-business-debt-started-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                How long ago did the debt start?
              </h1>
            </legend>
            <div id="existing-business-debt-started" class="govuk-hint">
              Provide an approximate date for when the debt started. For example, December 2017
            </div>
            <div class="govuk-date-input" id="existing-business-debt-started">

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="existing-business-debt-started-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-10" id="existing-business-debt-started-month" name="existing-business-debt-started-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="existing-business-debt-started-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="existing-business-debt-started-year" name="existing-business-debt-started-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>


        <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
{% endblock %}
