{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Apply for bankruptcy</h1>

    <h2 class="govuk-heading-s">Application incomplete</h2>

<p class="govuk-body govuk-!-margin-bottom-7">You have completed 6 of 11 sections.</p>

<ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Check before you start
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Check eligibility
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Read declaration
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Prepare application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="Personal-details-status">
                  Personal details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="personal-details-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="Employment-status">
                  Employment
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="employment-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="bank-accounts-and-savings-status">
                  Bank accounts and savings
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="bank-accounts-and-savings-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="assets-status">
                  Assets
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="assets-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href=/money-you-owe aria-describedby="money-you-owe-status">
                  Money you owe
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="income-and-expenses-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="income-and-expenses-status">
                  Income and expenses
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="income-and-expenses-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="legal-proceedings-status">
                  Legal proceedings
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="legal-proceedings-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="debt-history-status">
                  Debt history
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="debt-history-status">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Apply
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Submit and pay
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>
      </ol>

{% endblock %}
