{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Provide debt details
      </h1>

<form class="form" action=/review-debt-entered-personal method="post">

      <p>Provide details about what you owe {{ data['personal-creditor-first-name'] }} {{ data['personal-creditor-surname'] }}
      </p>

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


      {{ govukInput({
      label: {
      text: "Amount you owe",
      classes: "govuk-label--m"
      },
      classes: "govuk-!-width-one-half",
      hint: {
          text: "For joint debts, enter the full debt amount
      "
        },
      id: "amount-owed-to-personal-creditor",
      name: "amount-owed-to-personal-creditor",
      prefix: {
        text: "£"
      }
      }) }}

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "How long ago did the debt start",
        fieldset: {
          legend: {
            text: "How long ago did the debt start?",
            classes: "govuk-label--m"
          }
        },
        items: [
          {
            value: "0-6 months",
            text: "0-6 months"
          },
          {
            value: "7-12 months",
            text: "7-12 months"
          },
          {
            value: "1-2 years",
            text: "1-2 years"
          },
          {
            value: "2-3 years",
            text: "2-3 years"
          },  {
              value: "3-5 years",
              text: "3-5 years"
            },
          {
            value: "5-10 years",
            text: "5-10 years"
          },
          {
            value: "over 10 years",
            text: " over 10 years"
          }
        ]
      }) }}






      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </div>
  </div>

{% endblock %}
