{% extends "layout.html" %}

{% block pageTitle %}
  Provide debt details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Provide debt details
      </h1>

<form class="form" action=/review-debt-entered-personal method="post">

      <p>Provide details about what you owe {{ data['personal-creditor-first-name'] }} {{ data['personal-creditor-surname'] }}
      </p>




          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="cost">
                Amount you owe
              </label>
              <div id="debt-owed-personal" class="govuk-hint">
            For joint debts, enter the full debt amount
          </div>
            </h1>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-10" id="debt-owed-personal" name="debt-owed-personal" type="text" spellcheck="false">
            </div>
          </div>



          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h1 class="govuk-fieldset__heading">
                  What type of debt is it?
                </h1>
              </legend>

                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="type-of-debt-personal" name="type-of-debt-personal" type="radio" value="Child maintenance">
                    <label class="govuk-label govuk-radios__label" for="Credit-or-store-card">
                      Child maintenance
                    </label>
                  </div>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="type-of-debt-personal" name="type-of-debt-personal" type="radio" value="Landlord arrears">
                      <label class="govuk-label govuk-radios__label" for="Personal loan (unsecured)">
                        Landlord arrears
                      </label>
                    </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-debt-personal" name="type-of-debt-personal" type="radio" value="Private loan">
                  <label class="govuk-label govuk-radios__label" for="Overdraft">
                    Private loan
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-debt-personal" name="type-of-debt-personal" type="radio" value="text" data-aria-controls="Other">
                  <label class="govuk-label govuk-radios__label" for="Other">
                    Other
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="Other">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="please-specify">
                      Please specify
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" id="please-specify" name="please-specify" type="tel" autocomplete="tel">
                  </div>

            </fieldset>
          </div>




          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h1 class="govuk-fieldset__heading">
                  How long ago did the debt start?
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="debt-start-personal" name="debt-start-personal" type="radio" value="0-6 months">
                  <label class="govuk-label govuk-radios__label" for="0-6 months">
                    0-6 months
                  </label>
                </div>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="debt-start-personal" name="debt-start-personal" type="radio" value="7-12 months">
                    <label class="govuk-label govuk-radios__label" for="7-12 months">
                      7-12 months
                    </label>
                  </div>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="debt-start-personal" name="debt-start-personal" type="radio" value="1-2 years">
                      <label class="govuk-label govuk-radios__label" for="1-2 years">
                        1-2 years
                      </label>
                    </div>
                    <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="debt-start-personal" name="debt-start-personal" type="radio" value="2-3 years">
                        <label class="govuk-label govuk-radios__label" for="2-3 years">
                          2-3 years
                        </label>
                      </div>
                      <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="debt-start-personal" name="debt-start-personal" type="radio" value="3-5 years">
                          <label class="govuk-label govuk-radios__label" for="3-5 years">
                            3-5 years
                          </label>
                        </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="debt-start-personal" name="debt-start-personal" type="radio" value="5-10 years">
                  <label class="govuk-label govuk-radios__label" for="5-10 years">
                    5-10 years
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="debt-start-personal" name="debt-start-personal" type="radio" value="over 10 years">
                  <label class="govuk-label govuk-radios__label" for="over 10 years">
                    Over 10 years
                  </label>

              </div>

            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>



    {% endblock %}
