{% extends "layout.html" %}

{% block pageTitle %}
  Review creditors entered – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <form class="form" action=/another-creditor-form method="post">

<h1 class="govuk-heading-l">Review creditors entered</h1>
<div class="govuk-form-group">

  <p class="govuk-body">Review, change and remove the creditors you have added so far.</p>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Amount owed</th>
        <th scope="col" class="govuk-table__header">Owed for</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">{{ data['personal-creditor-first-name'] }} {{ data['personal-creditor-surname'] }}</th>
        <td class="govuk-table__cell">£{{ data['debt-owed-personal'] }}</td>
        <td class="govuk-table__cell">{{ data['debt-start-personal'] }}</td>

      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">{{ data['search-results-radios'] }}</th>
        <td class="govuk-table__cell">£{{ data['debt-owed-business'] }}</td>
        <td class="govuk-table__cell">{{ data['debt-start-business'] }}</td>

      </tr>

    </tbody>
  </table>


<div class="govuk-!-padding-bottom-4"></div>


  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="another-creditor-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Do you need to add another creditor?
        </h1>
      </legend>
      <div id="another-creditor-hint" class="govuk-hint">
        You must tell us about all of your creditors, including family members or friends.
      </div>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="another-creditor" name="another-creditor" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="another-creditor">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="another-creditor-2" name="another-creditor" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="another-creditor-2">
            No
          </label>
        </div>
      </div>

    </fieldset>
  </div>
<div class="govuk-!-padding-bottom-1"></div>

  <button class="govuk-button" data-module="govuk-button">Continue</button>

{% endblock %}
